<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - One Stop Gaming</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/styles.css")
    @Scripts.Render("~/Scripts/gamingNav.js")

</head>
<body>
		<a href = "index.html">
			<div class = "header">
			</div>
		</a>
		
		<div class = "menu" onclick = "toggleMenu()">
			Menu
		</div>
		
		<div class="nav">
			<a href="products.html"><div class = "navlink">Products</div></a>
			<a href="cart.html"><div class = "navlink">Cart</div></a>
			<a href="index.html"><div class = "navlink">Stores</div></a>
			<a href="index.html"><div class = "navlink">Help</div></a>
		</div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
